@using Luval.GenAIBotMate.Core.Entities

<style>

    .table {
        width: 100%;
        margin-bottom: 1rem;
        color: var(--neutral-foreground-rest);
        border-collapse: collapse;
    }

        .table th,
        .table td {
            padding: 0.75rem;
            vertical-align: top;
            border-top: 1px solid var(--accent-fill-rest);
        }

        .table thead th {
            vertical-align: bottom;
            border-bottom: 2px solid var(--accent-fill-rest);
        }

        .table tbody + tbody {
            border-top: 2px solid var(--accent-fill-rest);
        }

    .table-sm th,
    .table-sm td {
        padding: 0.3rem;
    }

    .hidden-div {
        opacity: 0; /* Initially hidden */
        transition: opacity 0.3s ease; /* Smooth transition */
    }

        .hidden-div:hover {
            opacity: 1; /* Fully visible on hover */
        }

</style>


<FluentCard>
    <FluentStack>
        <div><FluentIcon Value="@(new Microsoft.FluentUI.AspNetCore.Components.Icons.Regular.Size24.PersonChat())" /></div>
        <div>
            <FluentStack Orientation="Orientation.Vertical">
                @if (MediaFiles != null && MediaFiles.Any())
                {
                    <FluentStack Orientation="Orientation.Horizontal" HorizontalGap="10">
                        <Virtualize Items="MediaFiles" Context="file">
                            <ItemContent>
                                <MediaFile Media="@file" Width="150px" />
                            </ItemContent>
                            <Placeholder>
                                <FluentSkeleton Shape="SkeletonShape.Rect"  Width="150px" Height="150px" Shimmer="true"></FluentSkeleton>
                            </Placeholder>
                        </Virtualize>
                    </FluentStack>
                }
                <span>
                    @UserMessage
                </span>
            </FluentStack>
        </div>
    </FluentStack>
</FluentCard>
<FluentSpacer />
<FluentCard MinimalStyle="true">
    <FluentStack>
        <div>
            <FluentIcon Value="@(new Microsoft.FluentUI.AspNetCore.Components.Icons.Regular.Size24.LightbulbPerson())" />
            @* <FluentProgressRing Style="height:24px; width:24px; position:absolute; top:0px; left:0px;"></FluentProgressRing> *@
        </div>
        <div>
            <span>
                @GetHtmlFromMD(AgentResponse)
            </span>
        </div>
        <div class="hidden-div">
            <FluentStack Orientation="Orientation.Horizontal">
                <FluentButton 
                    Appearance="Appearance.Stealth"
                              IconEnd="@(new Microsoft.FluentUI.AspNetCore.Components.Icons.Regular.Size16.Copy())" />
            </FluentStack>
        </div>
    </FluentStack>
</FluentCard>