<style>
    .thumbnail {
        width: 150px; /* Width of the thumbnail */
        height: auto; /* Maintain aspect ratio */
        border: 1px solid #ddd; /* Optional: border around the thumbnail */
        padding: 5px; /* Optional: space around the image */
        border-radius: 4px; /* Optional: rounded corners */
        box-shadow: 0 2px 4px rgba(0,0,0,0.2); /* Optional: shadow for 3D effect */
    }

    .table {
        width: 100%;
        margin-bottom: 1rem;
        color: var(--neutral-foreground-rest);
        border-collapse: collapse;
    }

        .table th,
        .table td {
            padding: 0.75rem;
            vertical-align: top;
            border-top: 1px solid var(--accent-fill-rest);
        }

        .table thead th {
            vertical-align: bottom;
            border-bottom: 2px solid var(--accent-fill-rest);
        }

        .table tbody + tbody {
            border-top: 2px solid var(--accent-fill-rest);
        }

    .table-sm th,
    .table-sm td {
        padding: 0.3rem;
    }

    .hidden-div {
        opacity: 0; /* Initially hidden */
        transition: opacity 0.3s ease; /* Smooth transition */
    }

        .hidden-div:hover {
            opacity: 1; /* Fully visible on hover */
        }

</style>


<FluentCard>
    <FluentStack>
        <div><FluentIcon Value="@(new Microsoft.FluentUI.AspNetCore.Components.Icons.Regular.Size24.PersonChat())" /></div>
        <div>
            @if(MediaFiles != null && MediaFiles.Any()){
                foreach (var file in MediaFiles)
                {
                    <img src="@file" alt="media" class="thumbnail">
                }
            }
            <span>
                @UserMessage
            </span>
        </div>
    </FluentStack>
</FluentCard>
<FluentSpacer />
<FluentCard MinimalStyle="true">
    <FluentStack>
        <div>
            <FluentIcon Value="@(new Microsoft.FluentUI.AspNetCore.Components.Icons.Regular.Size24.LightbulbPerson())" />
            @* <FluentProgressRing Style="height:24px; width:24px; position:absolute; top:0px; left:0px;"></FluentProgressRing> *@
        </div>
        <div>
            <span>
                @GetHtmlFromMD(AgentResponse)
            </span>
        </div>
        <div class="hidden-div">
            <FluentStack Orientation="Orientation.Horizontal">
                <FluentButton 
                    Appearance="Appearance.Stealth"
                              IconEnd="@(new Microsoft.FluentUI.AspNetCore.Components.Icons.Regular.Size16.Copy())" />
            </FluentStack>
        </div>
    </FluentStack>
</FluentCard>